/* reset */

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/* body */

body {
    background-color: #000000;
}

/* Header */

.header-header {
    background-image: url('img/fon1.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

.header-logo{
    display: none;
}

.header-menu{
    display: block;
    margin-left: auto;
    margin-right: 16px;
    margin-top: 0px;
    padding-top: 18px;
}

.header-title-h1-div {
    margin-top: 70px;
}

.header-title-h1{
    display: flex;
    width: 451px;
    height: 94px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FFF;
    
    font-family: Stalinist One;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.3%; /* 92.97px */
    letter-spacing: -1.35px;

    margin-top: 0px;
    margin-left: 40px;
}

.header-title-h1-p-flex {
    display: flex;
}

.header-title-p{
    display: flex;
    width: 139.024px;
    height: 68.938px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.8%; /* 83.49px */
    letter-spacing: -0.825px;

    margin-top: 25px;
    margin-left: 5px;
}

.header-title-p2 {
    display: flex;
    width: 577px;
    height: 33px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #FFF;
    
    text-align: center;
    font-family: Roboto;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.8%; /* 56.166px */
    letter-spacing: -0.555px;

    margin-left: 40px;
}

.header-btn-div{
    display: flex;

    margin-left: 40px;
    margin-top: 0px;
    padding-bottom: 80px;
}

.header-btn-1{
    display: flex;
    width: 219.187px;
    height: 50.077px;
    flex-direction: column;
    justify-content: flex-end;
    flex-shrink: 0;
    color: #8FFF00;
    
    text-align: center;
    font-family: Roboto;
    font-size: 23px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.8%; /* 34.914px */
    letter-spacing: -0.345px;
    border: 1.25px solid #8FFF00;

    transition: all 0.5s;

    padding-top: 11px;
    padding-left: 27px;
    padding-right: 27px;
    padding-bottom: 8px;
}

.header-btn-1:hover{
    color: #FFF;
    background-color: #8FFF00;
}

/* Why */

.why-absolute-div {
    display: flex;
}

.why-title {
    color: #FFF;
    font-family: Stalinist One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.3%;
    /* 36.155px */
    letter-spacing: -0.525px;

    margin-left: 40px;
    margin-bottom: 55px;
}

.why-img {
    display: none;
    margin-left: 100px;
}

.why-list {
    margin-left: 40px;
}

.why-flex-div {
    display: flex;
}

.why-li-h {
    color: #FFF;
    text-align: center;
    font-family: Roboto;
    font-size: 35.5px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.8%;
    /* 53.889px */
    letter-spacing: -0.532px;
}

.why-li-img {
    width: 43.556px;
    height: 37.333px;

    margin-left: 10px;
}

.why-li-p-1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: 120.8%;
    /* 38.656px */
    letter-spacing: -0.48px;

    width: 372.444px;

    margin-top: 5px;
    margin-bottom: 40px;
}

.why-li-p-2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: 120.8%;
    /* 38.656px */
    letter-spacing: -0.48px;

    width: 369.778px;

    margin-top: 5px;
    margin-bottom: 40px;
}

.why-li-p-3 {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: 120.8%;
    /* 38.656px */
    letter-spacing: -0.48px;

    width: 402.667px;

    margin-top: 5px;
    margin-bottom: 40px;
}

.why-li-p-4 {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: 120.8%;
    /* 38.656px */
    letter-spacing: -0.48px;

    width: 502.222px;

    margin-top: 5px;
}

/*Work*/

.work-title {
    color: #FFF;

    font-family: Stalinist One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.3%; /* 36.155px */
    letter-spacing: -0.525px;
    
    margin-left: 40px;
}

.work-list {
    margin-top: 60px;
}

.work-li {
    margin-bottom: 80px;
}

.work-flex-div-r {
    display: flex;
    justify-content: right;
    margin-right: 60px;
}

.work-list-img1 {
    margin-top: 0px;
    margin-left: 40px;

    width: 235.158px;
    height: 229.515px;
}

.work-li-img {
    width: 27.313px;
    height: 23.411px;
}

.work-li-absolute-description-div {
    margin-top: 25px;
}

.work-li-description-div {
    margin-left: 30px;
}

.work-li-h1 {
    width: 211.329px;
    height: 28.846px;

    color: #FFF;

    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.8%; /* 33.396px */
    letter-spacing: -0.33px;
}

.work-li-p1 {
    width: 327.34px;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 151.8%; /* 30.36px */
    letter-spacing: -0.3px;

    margin-left: 30px;
}

.work-list-img2 {
    width: 235.158px;
    height: 235.158px;

    margin-left: 160px;
}

.work-li-h2 {
    color: #FFF;

    width: 217.6px;
    height: 28.846px;

    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.8%; /* 33.396px */
    letter-spacing: -0.33px;
}

.work-li-p2 {
    width: 327.34px;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 151.8%; /* 30.36px */
    letter-spacing: -0.3px;
    
    margin-left: 30px;
}

.work-list-img3 {
    width: 235.705px;
    height: 235.158px;

    margin-left: 40px;
}

.work-li-h3 {
    width: 292.376px;
    height: 28.846px;

    color: #FFF;
    
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 151.8%; /* 33.396px */
    letter-spacing: -0.33px;
}

.work-li-p3 {
    width: 327.34px;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 200;
    line-height: 151.8%; /* 30.36px */
    letter-spacing: -0.3px;

    margin-left: 30px;
}

.work-contact-h {
    width: 610px;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 200;
    line-height: 151.8%; /* 39.468px */
    letter-spacing: -0.39px;
}

.work-contact-btn {
    color: #8FFF00;

    text-align: center;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.8%; /* 44.022px */
    letter-spacing: -0.435px;

    border: 1.147px solid #8FFF00;

    padding: 5px 47.41px;

    margin-top: 40px;
    margin-left: 70px;

    transition: all 0.5s;
}

.work-contact-btn:hover {
    color: #FFF;
    background-color: #8FFF00;
}

/*Vibe*/

.vibe-title {
    color: #FFF;

    font-family: Stalinist One;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.3%; /* 36.155px */
    letter-spacing: -0.525px;
}

.vibe-cards {
    margin-left: auto;

    width: 500px;

    margin-right: auto;
}

.vibe-cards-list1 {
    display: flex;
    flex-direction: column;

    width: 500px;
}

.vibe-cards-img1 {
    width: 500px;
    height: 503px;
    margin-right: 0px;
}

.vibe-cards-li {

    margin-bottom: 70px;
    width: 500px;
}

.vibe-cards-list2 {
    display: flex;
    flex-direction: column;

    margin-top: 0px;
    margin-right: 0px;

    width: 500px;
}

.vibe-cards-img2 {
    width: 500px;
    height: 503px;
    margin-right: 0px;
}

.vibe-contact-h {
    width: 655px;
    color: #FFF;
    
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 200;
    line-height: 151.8%; /* 39.468px */
    letter-spacing: -0.39px;

    margin-top: 60px;
    margin-right: 0px;
}

.vibe-contact-btn {
    color: #8FFF00;

    text-align: center;
    font-family: Roboto;
    font-size: 29px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.8%; /* 44.022px */
    letter-spacing: -0.435px;

    border: 1.147px solid #8FFF00;

    padding: 5px 47.41px;

    margin-top: 40px;
    margin-left: 70px;

    transition: all 0.5s;
}

/* Form */

.form-sectiom {
    background-color: #1A1A1A;
}

.form-s-div {
    display: none; /* display: block; */

    padding-top: 35px;
    margin-left: 40px;
    margin-bottom: 75px;
}

.form-s-p {
    display: none;

    color: #FFF;
    font-family: Stalinist One;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.3%;
    /* 25.825px */
    letter-spacing: -0.375px;

    margin-right: 55px;

    margin-bottom: 20px;
}

.seconder {
    display: none;

    color: #FFF;
    font-family: Stalinist One;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 103.3%;
    /* 41.32px */
    letter-spacing: -0.6px;

    margin-right: 40px;
}

.lable-1 {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: 151.8%;
    /* 48.576px */
    letter-spacing: -0.48px;

    margin-left: 40px;
}

.lable-2 {
    color: #FFF;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 200;
    line-height: 151.8%;
    /* 48.576px */
    letter-spacing: -0.48px;

    margin-left: 47px;
}

.form-name,
.form-phone,
.prise {
    width: 593.778px;
    height: 65.778px;
    flex-shrink: 0;
    background: #FFF;

    margin-left: 40px;

    color: #848484;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 151.8%;
    /* 48.576px */
    letter-spacing: -0.48px;

    margin-bottom: 30px;
}

.ss {
    width: 214.222px;
    height: 65.778px;
    flex-shrink: 0;

    background: #FFF;

    margin-left: 40px;

    color: #848484;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 151.8%;
    /* 48.576px */
    letter-spacing: -0.48px;

    margin-bottom: 30px;
}

.contact {
    width: 332.444px;
    height: 65.778px;
    flex-shrink: 0;

    background: #FFF;

    color: #848484;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 100;
    line-height: 151.8%;
    /* 48.576px */
    letter-spacing: -0.48px;

    margin-left: 47px;
}

.form-div-ss-kk {
    display: flex;
}

.form-on-form-div {
    display: flex;
}

.form-img {
    display: none;
}

.form-btn-div {
    display: flex;
}

.form-btn {
    color: #00FF4C;
    text-align: center;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 151.8%;
    /* 39.468px */
    letter-spacing: -0.39px;

    border: 1.02px solid #00FF4C;
    background-color: #1A1A1A;

    transition: all 0.5s;

    padding: 9px 235px;

    margin-left: 40px;
    margin-bottom: 60px;
}

.form-btn:hover {
    color: #FFF;
    background-color: #00FF4C;
}

/* Footer */

.ooter-footer {
    background-color: #0C0C0C;
}

.footer-logo {
    margin-left: 40px;
    padding-top: 15px;

    width: 185px;
    height: 55px;
}

.footer-list {
    margin-left: 40px;
    margin-top: 10px;
}

.footet-li {
    margin-bottom: 18px;
}

.footer-li-img {
    margin-bottom: -5px;
    margin-right: 13px;
}

.footer-li-a {
    color: #FFF;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 120.8%;
    /* 30.2px */
    letter-spacing: -0.375px;

    transition: all 0.3s;
}

.footer-li-a:hover {
    color: #476399;
}

.footer-copiraiter {
    color: #5E5E5E;
    font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 120.8%;
    /* 30.2px */
    letter-spacing: -0.375px;

    margin-left: 40px;
    margin-top: 35px;
    margin-bottom: 25px;
}

/* Animation */

/* .a {
    opacity: 1;
    transform: none;
    transition: none;
}

.a.visible {
    opacity: 1;
    transform: none;
} */

.b {
    opacity: 1;
    transform: none;
    transition: none;
}

.b.visible {
    opacity: 1;
    transform: none;
}

/* .c {
    opacity: 1;
    transform: none;
    transition: none;
}

.c.visible {
    opacity: 1;
    transform:none;
} */